/* General */
$fontSize:14px;
$borderRadius:12px;
$transitionDuration:.2s;

/* Font */
$font-family-sans: 'Satoshi', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
